@{
    ViewData["Title"] = "Home Page";
}
<style>

    .game{
        display:flex;
        justify-content:space-between;
    }

    .img-hero{
        width:200px;
        height:200px;
        margin:20px;
    }

    .div-skills{
        display:flex;
    }

    .div-skill{
        border: 2px solid gray;
        padding:20px;
    }

    .div-skill img{
        width:80px;
        height:80px;
        margin:10px;
    }

    .div-hidden{
        display:none;
    }

    .div-show{
        display:block;
    }
</style>

<button onclick="StartGame()"> Start Game!</button>

<ul id="messagesList"></ul>

<div class="container game">

    <div id="player1">
    </div>
    <div id="player2">
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>